input[type="text"], select {
  width: 450px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.upload{
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.down:hover {
  transition: .5s ease;
  background-color: #00005A;
}

.down{
  transition: .5s ease;
  width: 200px;
  background-color: steelblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

textarea {
  border-radius: 5px ;
  font-family: arial;
  padding: 10px 10px;

  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.background-input{
  padding-top: 80px;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -50px;
  margin-bottom: -100px;
  background-color: #EEECEC;
  background-size: 1520px 800px;
  height: 700px;
  width: 1520px;
}
.under {  /* Banner Overlapping*/
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.topSticky{
  border-bottom: solid 1px #CECDCD;
  position: sticky;
  top: 0;
  padding: 15px;
  margin-left: -10px;
  width: 1491px;
  background-color: white;
  z-index: 1;
}

.banner{
  background-image: url(../cover/1.png);
  background-size: 1520px 610px;
  width: 1519px;
  height: 610px;
  margin-left:-8px ;
  margin-top: -9px ;
  text-align: center;

}

h1.title{
  padding-top: 80px;
  font-family: Gill Sans, sans-serif;
  font-size: 80px;
}

.post{
  background-color: white;
  border-radius: 50px;
  position: absolute ;
  left: -5px ;
  margin-left: 100px;
  margin-top: 100px;
}

.hov{
  transition: .3s ease;
  opacity: 1;
}

.hov:hover{
  transition: .3s ease;
  opacity: 0.5;
}

.container {
  display: inline-block;
  overflow: hidden;
}

.image {
  opacity: 1;
  display: block;
  transition: .3s ease;
}

.middle {  /*Middle Word*/
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin-left:100px;
  margin-top:-100px;
  width: 150px;
}

.container:hover .image { /* Blurry Container for image*/
  opacity: 0.45;
  transform: scale(1.1);
}

.container:hover .middle { /* Blurry Container for middle word*/
  opacity: 1;
}

.text {
  border: 2px solid;
  background-size: cover;
  background-color: white;
  border-radius: 50px;
  border: 0px;
  color: black;
  font-size: 15px;
  padding: 16px 32px;
  font-family: helvetica ;
}
